// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.background{
  background-image: url("https://res.cloudinary.com/dloadb2bx/image/upload/v1620150742/16d2956a307f5a561de33d8c32fa83d4_drbsnt.jpg");
  height: 90vh;
  background-size: 100% 100%;
}

.content{
  background-color: #fff;
  padding: 20px;
  margin-top: -200px;
}

.movie-grid{
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 20px;
}

.img-box{
  width: 220px;
}

.title-box{
  margin: 5px 0;
  text-align: center;
}

.movie-card{
  width: 222px;
  position: relative;
  background-color:  #7868e6;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-movie{
  text-decoration: none;
  color: #fff;
}

.btn-movie:hover{
  text-decoration: none;
  color: #fff;
}
